body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}

body > * {
    padding: 0 225px;
    margin: 0;
}





/* Top of the page */



.top {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 110px;
    padding-bottom: 150px;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: flex-end;
    height: 50px;
}

.header .logo {
    flex: initial;
    width: 140px;
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.header .links li {
    flex: initial;
    width: 130px;
}

.header .links li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}





.hero {
    display: flex;
    height: 175px;
}


.hero .info {
    display: flex;
    flex: 1 1 0;
    height: 220px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3px;
}

.hero .info > * {
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
    flex: initial;
}

.hero .info .awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .info .subtext {
    color: #E5E7EB;
    flex: auto;
    width: 400px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 100;
}

.hero .info .sign-up-button {
    width: 100px;
    padding: 9px 14px;
    border: 0px;
    border-radius: 6px;
    box-sizing: content-box;
    background-color: #3882F6;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.hero .picture {
    flex: 1 1 0;
    height: 220px;
    background-color: rgb(104, 103, 103);
    display: flex;
    justify-content: center;
    align-items: center;
}









/* Main Part of the page */


.main {
    display: flex;
    margin: auto 0;
}

.main .info {
    display: flex;
}

.elements-container {
    display: flex;
}

.element {
    display: flex;
}


/* Quote Part of the page */

.quote {
    display: flex;
}

.quote-container {
    display: flex;
}


/* Sign-up Part of the page */


.sign-up{
    display: flex;
}

.sign-up-container {
    display: flex;
}



.footer {
    display: flex;
}


li ,
ul {
    margin: 0;
    padding: 0;
}

